.DS_Store

# IDE
.idea/
.vscode/

# Java
backend/target/
backend/src/main/resources/application.yml

# Node
front/node_modules/
front/dist/
front/.vite/
front/*.tsbuildinfo
front/vite.config.js
front/vite.config.d.ts

# Logs
*.log
